@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.ttc);
}

body {
  background-color: #f6f6f6;
  font-family: HelveticaNeue, sans-serif;
}

.blue-color {
  background-color: #62a1eb;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .header-button {
    color: #232323;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
    &:first-child {
      margin-right: 70px;
      padding-bottom: 10px;
    }
  }
}

.active-header-button {
  border-bottom: 3px solid black;
}

#form {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 80px 100px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control.error input {
  border-color: red !important;
}
.form-control.success input {
  border-color: green !important;
}

input {
  height: 40px;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid #8ac0e2;
  outline: none;
}

label {
  font-weight: 600;
  margin-bottom: 10px !important;
}

span {
  font-size: 11px;
  opacity: 0.8;
}

.full-name-inputs {
  display: flex;
  justify-content: space-between;
}

#names-input {
  width: 300px;
  input {
    width: 100%;
    border: 2px solid #8ac0e2;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
  }
  span {
    font-size: 11px;
    opacity: 0.8;
    margin-top: 5px;
  }
}

#email {
  margin-bottom: 5px;
}

.mail-input {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#mail-input {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#phone {
  margin-bottom: 5px;
}

#phone-input {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.select-style {
  height: 40px;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid #8ac0e2;
  outline: none;
  margin-top: 35px;
  margin-bottom: 5px;
  background-color: #ebebeb;
  border: none;
  width: 100%;
}

.team-cont {
  width: 100%;
  #team {
    margin-bottom: 5px;
  }
}

#form {
  .submit-button-container {
    justify-content: end;
  }
}

.submit-button-container {
  display: flex;
  justify-content: space-between;
  .back-button {
    display: flex;
    align-items: end;
    a {
      color: #62a1eb;
      cursor: pointer;
    }
  }
}
.submit-button {
  padding: 12px 25px;
  border-radius: 6px;
  margin-top: 100px;
  font-family: "HelveticaNeue", sans-serif;
}

.red-circle-logo {
  margin: 30px 0;
  img {
    display: block;
    margin: 0 auto;
  }
}

#laptop-form {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 80px 100px;
  hr {
    background-color: #c7c7c7;
    width: 100%;
    height: 1px;
    border: none;
    margin: 40px 0;
  }
}

#laptop-brands {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  #brands {
    cursor: pointer;
    margin-top: unset;
  }
}

.cpu-details {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  #laptop-cpus {
    width: 200px;
    #cpus {
      margin-top: 28px;
    }
  }
  .cpu-cores {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 5px;
    }
  }
  .cpu-thread {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 5px;
    }
  }
}

.memory-specs {
  display: flex;
  .ram-capacity {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 50px;
    input {
      margin-bottom: 5px;
    }
  }
  .ram-type {
    .radio-buttons {
      display: flex;
      margin-top: 5px;
      .ssd {
        display: flex;
        align-items: center;
        margin-right: 50px;
        input {
          margin-right: 15px;
        }
        span {
          font-size: 14px;
        }
      }
      .hdd {
        display: flex;
        align-items: center;
        input {
          margin-right: 15px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}

.date-and-price-cont {
  margin-bottom: 40px;
  .date-input {
    width: 300px;
  }
  .date-price-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .date-input-cont {
      label {
        p {
          margin-bottom: 10px;
        }
      }
    }
    .price-input {
      display: flex;
      flex-direction: column;
      width: 300px;
      input {
        margin-bottom: 5px;
      }
    }
  }
}

.condition-radio-buttons {
  .radio-buttons {
    display: flex;
    span {
      font-size: 12px;
    }
    .new {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 57px;
      input {
        margin-right: 15px;
      }
    }
    .used {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        margin-right: 15px;
      }
    }
  }
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  h3 {
    color: #62a1eb;
    font-weight: 100;
    font-size: 13px;
    line-height: 1.7;
    margin: 60px 0 0 0;
  }
  .drag-area {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 10px;
    border: 2px dotted #62a1eb;
    #upload-button {
      background-color: #62a1eb;
      padding: 10px 10px;
      font-family: "HelveticaNeue";
      font-size: 13px;
      color: white;
      cursor: pointer;
      margin: 70px auto;
      width: 152px;
      border-radius: 6px;
    }
  }
}

.drag-area-active {
  background-color: wheat !important;
  box-shadow: inset 0 -1px 2rem 5px #62a1eb,
    1px 1px 1.5rem 0.8rem rgba(73, 160, 116, 0.7);
}

.drag-area img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin: 0 0 20px 20px;
}

.uploaded-image-cont {
  padding: 0 58px;
  img {
    border-radius: 10px;
    width: 300px;
    height: 260px;
  }
}

@media only screen and (max-width: 768px) {
  #form {
    border-radius: 15px;
    width: 100%;
  }
  .full-name-inputs {
    flex-wrap: wrap;
    #names-input {
      width: 100%;
      &:first-child {
        margin-bottom: 35px;
      }
    }
  }
  #laptop-brands {
    width: 100%;
  }
  .cpu-details {
    flex-direction: column;
    margin: 0;
    #laptop-cpus {
      width: 100%;
      #cpus {
        margin-top: 0;
      }
    }
  }
  .cpu-details > * {
    margin-bottom: 35px;
  }
  .memory-specs {
    flex-direction: column;
    .ram-capacity {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  .date-and-price-cont {
    .date-price-inputs {
      flex-direction: column;
      .date-input {
        margin-bottom: 35px;
        width: 100%;
      }
      .price-input {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #form {
    padding: 80px 10px;
  }
  #laptop-form {
    padding: 80px 10px;
  }
  .uploaded-image-cont {
    padding: 0;
  }
}
